.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}



.section {
  display: grid;
  margin: 15px;
  border-radius: 2%;
  background-color: rgb(255, 0, 0);
}

.introduction {
  background-color: aquamarine;
}